<div>
    <div class="h5 title">for:
        <%=listTitle%>
    </div>
</div>
<div class="row">
    <div id="entrant-list" class="entrant-list col-md-8">
        <button value="Roll" onclick="rollIt(<%= listItems.length %>)">Roll!</button> <span class="collapsible">Found the following entrants ( <%= listItems.length %> )</span>
        <div class="col-content">
            <% listItems.forEach( function(item, index) { %>
                <div class="row">
                    <span id="index-<%= index+1 %>" class="col-sm-1 index">
                        <%= index+1 %>
                    </span>
                    <span id="name-<%= index+1 %>" class="col-sm-11 entrant">
                        <span class="winner-name"><%= item[3] %></span> - <span class="winner-position"><%= index+1 %></span>
                    <hidden style="display:none;" class="winner-email">
                        <%=item[1] %>
                    </hidden>
                    </span>
                </div>


                <% }); %>
        </div>
    </div>
    <div id="winners-list" class="winner-list col-md-4">
        <button value="saveWinners" onclick="saveWinners()">Save Winners :)</button> List of Winners
        <% winners.forEach( function(item, index) { %>
            <div>
                <span class="raffle-winner-num col-sm-1"><%= index+1 %>.</span>
                <span class="raffle-winner col-sm-11"><%= item.username %></span>
            </div>
            <% }); %>
    </div>
</div>
<hidden style="display:none;" id="raffle-title">
    <%= listTitle %>
</hidden>
<hidden style="display:none;" id="gsheet-id">
    <%= gsheetId %>
</hidden>
<hidden style="display:none;" id="all-winners"></hidden>
<hidden style="display:none;" id="all-emails"></hidden>